<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./db4</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <!-- Configure Hibernate to disable its internal connection pool and use c3p0 -->
        <property name="c3p0.timeout">10</property>

        <!-- Mapping -->
        <mapping class="learn.hibern.beghibern4.ch04lifecycle.broken.Message"/>
        <mapping class="learn.hibern.beghibern4.ch04lifecycle.broken.Email"/>
        <mapping class="learn.hibern.beghibern4.ch04lifecycle.mapped.Message"/>
        <mapping class="learn.hibern.beghibern4.ch04lifecycle.mapped.Email"/>

    </session-factory>
</hibernate-configuration>
